.select {
  width: 100%;
  padding: 10px 5px;
  border: 1px solid #c6c6c6;
  outline: none;
  color: #c6c6c6;
  background-color: #151515;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.select:hover {
  border: 1px solid rgb(224, 145, 0);
}
.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 5px;
  border: 1px solid #c6c6c6;
  outline: none;
  color: #c6c6c6;
  background-color: #151515;
  border-radius: 5px;
  font-weight: 600;
  transition: all 0.4s ease-in-out;
}
.input:hover,
.input:focus {
  border: 1px solid rgb(224, 145, 0);
}
