.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
}
.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}
.pagination {
  display: grid;
  grid-template-columns: 55px auto 55px;
}

@media screen and (max-width: 992px) {
  .list {
    grid-template-columns: repeat(4, 1fr);
  }
  .pagination {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 480px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 320px) {
  .list {
    grid-template-columns: repeat(1, 1fr);
  }
}
