.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 15px;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;

  > img {
    width: 150px;
  }

  > .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
}
