.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
}
.info {
  display: flex;
  gap: 15px;

  > .poster {
    width: 25%;
  }
  > .list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;

    > .title {
      font-weight: 700;
      font-size: 36px;
    }
    > .film_info {
      font-size: 14px;
      color: rgb(99, 99, 99);
    }
    > .desc {
      font-size: 24px;
    }
  }
}
