.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
}
.info {
  display: flex;
  gap: 15px;

  > .poster {
    width: 25%;
  }
  > .list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;

    > .title {
      font-weight: 700;
      font-size: 36px;
    }
    > .film_info {
      font-size: 14px;
      color: rgb(99, 99, 99);
    }
    > .desc {
      font-size: 24px;
    }
  }
}

.back_button {
  width: max-content;
  padding-left: 25px;
  background: none;
  background-image: url(../../../shared/assets/icons/left-arrow-white.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  color: #c9c9c9;
  font-weight: 600;
  border: none;
  outline: none;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.back_button:hover {
  background: none;
  color: #e09100;
  background-image: url(../../../shared/assets/icons/left-arrow-orange.svg);
  background-repeat: no-repeat;
  background-position-y: center;
}
