.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}
.pagination {
  display: grid;
  grid-template-columns: 55px auto 55px;
}
